<!-- Fixed Masonry Filters -->
<div class="categories-wrapper amber darken-3">
    <div class="categories-container">
        <ul class="categories container">
            <li class="active">
                <a href="#all">All</a>
            </li>
            <li>
                <a href="#polygon">Polygon</a>
            </li>
            <li>
                <a href="#bigbang">Big Bang</a>
            </li>
            <li>
                <a href="#sacred">Sacred Geometry</a>
            </li>
        </ul>
    </div>
</div>
</nav>
