<!-- Fixed Masonry Filters -->
<div class="categories-wrapper amber darken-3">
    <div class="categories-container">
        <ul class="categories container">
            <li class="active">
                <a href="#all">전체</a>
            </li>
            <li>
                <a href="#polygon">행사</a>
            </li>
            <li>
                <a href="#bigbang">모집</a>
            </li>
            <li>
                <a href="#sacred">공연</a>
            </li>
        </ul>
    </div>
</div>
</nav>
