<div class="nav-header valign-wrapper">
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item white-text" href="#one!">
            <div class="container valign-wrapper">
                <h1>교내 포스터를 등록해보세요!</h1>
                <div class="tagline"></div>
            </div>
        </div>
        <div class="carousel-item white-text" href="#two!">
            <div class="container valign-wrapper">
                <h1>경성대학교 포스터 모음입니다</h1>
                <div class="tagline"></div>
            </div>
        </div>

    </div>
</div>
