<div class="nav-header valign-wrapper">
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item white-text" href="#one!">
            <div class="container valign-wrapper">
                <h1>I MAKE THINGS</h1>
                <div class="tagline">Portfolio</div>
            </div>
        </div>
        <div class="carousel-item white-text" href="#two!">
            <div class="container valign-wrapper">
                <h1>PROFESSIONAL DESIGN</h1>
                <div class="tagline">Dedicated to you</div>
            </div>
        </div>
        <div class="carousel-item white-text" href="#three!">
            <div class="container valign-wrapper">
                <h1>LETS MAKE SOMETHING</h1>
                <div class="tagline">together</div>
            </div>
        </div>
    </div>
</div>
